.new-main-av {
	background-color: #fff;
	.calculator-heading--top {
	    padding: 0;
	}
}
header {
	.row:first-of-type {
		position: relative!important;
	}
	.col-md-7 {
		position: static!important;
	}
}
.navbar {
	position: static!important;
}
.close-mobile-menu {
	@media screen and (min-width: 768px) {
		position: static!important;
	}
}
.new-main,
.new-content {
    .header.js-header {
        @media screen and (max-width: 1024px) {
            position: relative !important;
        }
        .navbar-collapse.collapse {
	        max-height: 100vh !important;
	    	overflow: auto !important;
	    	-ms-overflow-style: none;
	    	height: auto !important;
		    @media screen and (min-width: 768px) {
		        height: 62px !important;
		        overflow: visible!important;
		    }
	    	&::-webkit-scrollbar {
	    		width: 0; 
	    	}
	    }
	}
}
/***shadow***/

	.navBlock-shadow {
		background-color: transparent;
	}
	.navBlock-shadow.open {
		position: fixed;
		top: 100px;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 98;
		background-color: rgba(0, 0, 0, .5);
		@media screen and (max-width: 1300px) {
			top: 0;
		}
	}
.new-header {
	height: 100%;
	&>.row {
		height: 100%;
	}
	.navbar {
		@media screen and (max-width: 1009px) {
			margin-right: 0;
		}
		@media screen and (min-width: 768px) and (max-width: $screen-sm-max) {
			text-align: right;
		}
		@media screen and (max-width: 767px) {
		    padding-top: 50px;
		}
		.overflow-menu {
			display: none;
			@media screen and (max-width: $screen-sm-max) {
				padding: 0;
			}
			@media screen and (min-width: 768px) and (max-width: 991px) {
				display: inline-block;
				text-align: right;
			}
			@media screen and (min-width: 901px) and (max-width: $screen-sm-max) {
				margin-left: 10px;
			}
		}
	}
	.close-mobile-menu {
		top: 20px;
	}
	.navbar-nav {
		.open .dropdown-menu>li>a {
		    padding: 10px 15px 10px 20px;
		    display: block;
		}
		>li {
			position: static!important;
			&.open>a {
				color: #003764;
			}
			&:hover:not(.open)>a {
				@media screen and (max-width: $screen-xs-max) {
			    	background-color: #ebf1fa;
				}
			}
			&:not(:last-child) {
				@media screen and (max-width: $screen-xs-max) {
				    border-bottom: 1px solid #ddd;
				}
			}
			&.custom {
			 	@media screen and (max-width: $screen-xs-max) {
			 		padding-left: 0;
			 	}
	            a {
	                @media screen and (max-width: $screen-xs-max) {
		                display: block;
		                border: none;
		                border-radius: 0;
		                padding: 15px 20px;
	                }
	            }
	            span {
	                display: inline;
	                border: none;
	                border-radius: 0;
	                padding: 0;
	            }
	        }
	        &.navLink_rounded {
	        	@media screen and (max-width: $screen-xs-max) {
		        	margin: 0;
		        	padding: 0;
		        	&>a {
		        		padding: 15px 20px;
		        		border-radius: 0;
		        	}
		        }
		    }
	        >a,
	        >span {
		        @media screen and (max-width: 1300px) {
	                font-size: 15px;
	            }
	            @media screen and (min-width: 991px) and (max-width: $screen-lg-max) {
	        		font-size: 14px;
	        	}
	        	@media screen and (min-width: 991px) and (max-width: $screen-md-max) {
	        		padding-left: 5px;
	        		font-size: 13px;
	        	}
	        	@media screen and (min-width: 768px) and (max-width: 900px) {
	        	    padding-left: 5px;
	        	}
	            @media screen and (max-width: $screen-xs-max) {
	                display: block;
	                padding: 15px 20px;
	                font-size: 16px;                
	            }
	            @media screen and (min-width: 1600px) {
	            	font-size: 15px;
	            }
	        }
	        .dropdown-menu {
	        	@media screen and (max-width: $screen-xs-max) {
	        		padding-bottom: 15px;
	        	}
		        li:hover .pop-up_navBlock_text a {
		        	background-color: transparent;
		        }
		    }
		    .heading-h2 {
				font-family: $font-family-medium;
				@media screen and (max-width: $screen-xs-max) {
					margin-bottom: 10px;
					font-size: 16px;
				}
			}
			&.aline:not(.custom)>a {
				@media screen and (min-width: 1300px) {
	                padding-left: 10px;
    				padding-right: 0;
	            }
			}
		}
	}
	
	.js-column-height {
		@media screen and (max-width: $screen-sm-max) {
	    	height: auto !important;
		}
	}
	/***POP-UP***/

	.pop-up_navBlock {
  		display: none;
  		position: absolute;
  		top: 100%;
    	right: 0;
    	left: 0;
    	padding: 0;
    	text-align: left;
		background-color: #fff;
		border: 1px solid #e2e2e2;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		z-index: 99;
		@media screen and (max-width: $screen-xs-max) {
			position: static;
			background-color: transparent;
			border: none;
		}
		&.active {
			display: flex;
			flex-wrap: nowrap;
			align-items: stretch;
			@media screen and (max-width: $screen-sm-max) {
				flex-wrap: wrap;
			}
		}
		&.navAnsverBlock {
			@media screen and (min-width: 768px) and (max-width: 991px) {
				background-color: transparent;
				border: none;
				margin-top: 1px;
			}
		}
		.owl-carousel-nav,
		.owl-stage-outer,
		.owl-stage,
		.owl-item,
		.nav-banner{
			height: 100%;
			.navAnsverBlock &{
				@media screen and (max-width: $screen-sm-max) {
					display: none;
				}
			}
			@media screen and (max-width: $screen-xs-max) {
				display: none;
			}
		}
		&>.row {
			display: flex;
			flex:1 1 auto;
			height: 100%;
			flex-wrap: nowrap;
			align-items: stretch;
			>div {
				float: none !important;
			}
			@media screen  and (max-width: $screen-sm-max) {
				flex-wrap: wrap;
				>.col-sm-6:first-of-type {
					width: calc(50% - 1px);
				}
			}
			@media screen and (max-width: $screen-xs-max) {
				display: block;
				>.col-sm-6:first-of-type {
					width: 100%;
				}
			}
		}
		h2 {
			font-family: $font-family-medium;
			@media screen and (max-width: $screen-xs-max) {
				margin-bottom: 10px;
			}
		}
		&_text {
			padding: 30px 60px;
			font-family: $font-family-roman;
			font-size: 14px;
			flex: 1 0 33%;
	    	max-width: 33%;
			@media screen and (max-width: $screen-sm-max) {
				padding: 15px;
				flex: 0 0 50%;
	    		max-width: 50%;
			}
			@media screen and (max-width: $screen-xs-max) {
				padding: 10px 50px 10px 20px;
				font-size: 14px;
				flex: 0 0 100%;
	    		max-width: 100%;
			}
			a {
				display: inline-block;
				padding: 20px 0;
				text-decoration: underline;
				font-family: $font-family-medium;
				@media screen and (max-width: $screen-xs-max) {
					padding-left: 0 !important;
					padding-bottom: 0;
					text-decoration: underline;
					display: inline-block !important;
					font-size: 14px !important;
					&:hover {
						color: #003764;
					}
				}
			}
		}
		&_menu {
			border-left: 1px solid #e2e2e2;
			border-right: 1px solid #e2e2e2;
			padding: 35px 0;
			flex: 0 0 25%;
	    	max-width: 25%;
			@media screen and (max-width: $screen-sm-max) {
				flex: 0 0 50%;
	    		max-width: 50%;
				padding: 10px 0;
				border-right: none;
			}
			@media screen and (max-width: $screen-xs-max) {
				border:none;
				flex: 0 0 100%;
	    		max-width: 100%;
			}
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
			}
			a {
				text-decoration: none;
    			display: block;
    			padding:10px 40px 10px 50px;
    			font-size: 16px;
    			font-family: $font-family-medium;
    			border-top: 1px solid transparent;
    			border-bottom: 1px solid transparent;
    			@media screen and (max-width: $screen-sm-max) {
    				padding: 10px 60px;
    			}
    			@media screen and (max-width: $screen-xs-max) {
    				padding: 10px 20px;
    				text-align: left;
    			}
    			&:hover {
    				background-color: #ebf1fa;
    				color: #003764;
    				border-color: #d6dce5;
    			}
			}
		}
	}
	
	/***  navAbout  ***/

	.navAboutBlock,
	& .navAboutBlock .nav-banner {
		.pop-up_navBlock_menu a {
			@media screen and (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
				padding:10px 25px 10px 30px;
			}
		}
	}


	/***  navAnsver  ***/
	
	.navAnsverBlock,
	& .navAnsverBlock .nav-banner {
		.pop-up_navBlock_menu {
			@media screen and (min-width: 768px) and (max-width: 991px) {
				padding:0;
				//border-right: 1px solid #e2e2e2;
				border: none;
				flex: 0 0 100%;
	    		max-width: 100%;
	    		ul {
	    			background-color: #fff;
	    			border-radius: 4px;
		    		>li {
		    			border: 1px solid #ddd;
		    			border-top: none;
	    				//background-color: #fff;
	    				&:last-child,
	    				&:last-child>a {
	    					border-bottom-right-radius: 4px;
	    					border-bottom-left-radius: 4px;
	    				}
	    				&:first-child,
	    				&:first-child>a {
	    					border-top-right-radius: 4px;
	    					border-top-left-radius: 4px;
	    				}
		    		}
		    	}
			}
			a {
				@media screen and (min-width: 991px) and (max-width: $screen-md-max) {
				padding:10px 20px 10px 20px;
			}
				@media screen and (min-width: 768px) and (max-width: 991px) {
					padding: 10px 15px;
    				font-size: 14px;
    				line-height: normal;
					&:hover {
						background-color: #ebf1fa;
					}
				}
				@media screen and (min-width: $screen-md-max) {
					padding:10px 20px 10px 20px;
				}
			}
		}
		.pop-up_navBlock_text{
			@media screen and (min-width: 768px) and (max-width: 991px) {
				display: none;
			}
		}
	}

	/***  SLIDER  ***/

	.carousel-nav {
		padding: 0;
		float: none!important;
		position: relative;
	    flex: 1 0 42%;
	    max-width: 42%;
	    align-self: stretch;
	    @media screen and (max-width: $screen-sm-max) {
			flex: 0 0 100%;
	    	max-width: 100%;
	    	height: auto !important;
		}
		@media screen and (max-width: $screen-xs-max) {
			display: none;
		}
		.owl-dots {
			position: absolute;
			padding-left: 0;
		    bottom: 15px;
		    left: 50%;
		    text-align: center;
		    transform: translate(-50%);
		}
		.owl-dot {
			display: inline-block;
		    vertical-align: middle;
		    width: 10px;
		    height: 10px;
		    border-radius: 50%;
		    background-color: #abbbce;
			&.active {
				background-color: #0083d1;
			}
			&:not(:last-child) {
			    margin-right: 8px;
			}
		}
	}
	.nav-banner {

		// height: 100%;
		// width: 100%;
		// flex: 1 0 100%;
		/*@media screen and (min-width: 992px) {
			position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		}*/
		>.container-fluid {
			// height: 100%;
		}
		a {
			font-family: $font-family-roman;
			font-size: 18px;
			padding: 10px 23px;
			margin-top: 20px;
			background-color: #00b181;
			color: #fff;
			&:before {
				background-color: #00b181;
			}
			@media screen and (max-width: $screen-md-max) {
				font-size: 17px;
				padding: 8px 20px;
			}
			&:hover {
				background-color: #45bc75;
				color: #fff;
			}
		}
		&-heading {
			font-size: 22px;
			font-family: $font-family-bold;
			padding: 50px 30px 60px 0;
			color: #0054bc;
			//height: 100%;
			width: 100%;
			padding-left: 50%;
			position: relative;
			z-index: 1;
			span {
				display: inline-block;
				font: inherit;
				color: #0054bc;
				padding: 0;
				&::first-letter {
					text-transform: uppercase;
				}
				&:hover {
					color: #0054bc;
				}
			}
			@media screen and (max-width: $screen-md-max) {
				font-size: 18px;
			}
			@media screen and (max-width: $screen-xs-max){
				padding: 15px 0 20px;
				text-align: center;
			}
		}
		.credit-zero-left {
		    left: 0;
		    bottom: 0;
		    top: auto;
		    width: 60%;
		    z-index: 0;
		    @media screen and (max-width: $screen-sm-max) {
		    	width: 30%;
		    }
		}
		&-favorite,
		&-50-50 {
			@media screen and (min-width: $screen-sm-max) {
				background-position: 10% 0%;
		    	background-size: auto 110%;
		    }
			@media screen and (max-width: $screen-sm-max) {
				background-position: 0 50%;
	    		background-size: auto 180%;
	    	}
	    	@media screen and (max-width: 500px) {
	    		background-position: 15% 50%;
    			background-size: auto 110%;
	    	}
		}
		&-50-50 {
			@media screen and (max-width: 600px) {
	    		background-position: 50%;
	    	}
		}
	}
	.navAnsverBlock .credit-zero-left,
    .navAboutBlock .credit-zero-left {
    	@media screen and (min-width: $screen-md-min) {
	    	width: 95%;
	    }
	}
	/***  error-TEXT  ***/
	.header-error {
		position: absolute;
	    z-index: 1000;
	    width: 80%;
	    margin: auto;
	    top:100px;
	    left: 0;
	    right: 0;
	    @media screen and (max-width: 1300px) {
	    	top: 62px;
	    }
	    .error-text {
	    	margin-top: 0;
	    }
	}


	/***   NAVIGATION  ***/
    .howTake,
    .navAbout,
    .navAnswer {
    	background-image: url(../assets/images/icons/caret-bottom.png);
        background-repeat: no-repeat;   
        background-position: 100% 50%;
        @media screen and (max-width: $screen-xs-max ) {
        	background-position: 95% 50%;
        }
    }
    .howTake.down,
    .navAbout.down,
    .navAnswer.down {
		background-image: url(../assets/images/icons/caret-top.png);
    }
    .howTake,{
    	background-position: 92% 50%;
        @media screen and (max-width: 1300px) {
            background-position: 94% 50%;
        }
        @media screen and (min-width: $screen-xs-max ) and (max-width: 1100px) {
            background-position: 93% 50%;
        }
        @media screen and (max-width: $screen-xs-max ) {
        	background-position: 95% 50%;
        }
    }
    .navAnswer,
    .navAnswer.down {
    	@media screen and (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
    		 background-position: 95% 50%;
    	}
    }
    .navbar-nav {
	    [aria-expanded="false"] {
	        background-image: url(../assets/images/icons/caret-bottom.png);
	        background-repeat: no-repeat;   
	        background-position: 91% 50%;
	        padding-right: 25px;
	        @media screen and (min-width: $screen-xs-max) and (max-width: 1500px) {
	            padding-right: 20px;    
	        }
	        @media screen and (max-width: 1300px) {
	            background-position: 92% 50%;    
	        }
	        @media screen and (min-width: $screen-xs-max ) and (max-width: 1100px) {
	            background-position: 93% 50%;
	        }
	        @media screen and (max-width: $screen-xs-max ) {
	        	background-position: 95% 50%;
	        }
	    }
	    [aria-expanded="true"] {
	        background-image: url(../assets/images/icons/caret-top.png);
	        background-repeat: no-repeat;   
	        background-position: 93% 50%;
	        padding-right: 25px;
	        @media screen and (min-width: $screen-xs-max) and (max-width: 1500px) {
	            padding-right: 20px;    
	        }
	        @media screen and (max-width: 1300px) { 
	            background-position: 95% 50%;
	        }
	        @media screen and (min-width: $screen-xs-max ) and (max-width: 1100px) {
	            background-position: 93% 50%;
	        }
	        @media screen and (max-width: $screen-xs-max ) {
	        	background-position: 95% 50%;
	        }
	    }
	}
	.nav-mobile-btn {
		padding: 30px 20px;
		border-top: 1px solid #ddd;
		.btn {
			display: block;
			background-color: #00b280;
			&:before {
				background-color: #00b181;
			}
		}
	}
	.navbar-collapse .language-wr {
		@media screen and (max-width: $screen-xs-max ) {
			margin: 10px 0 15px;
			p {
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
	.navLink_transform .dropdown-menu li:first-child {
		@media screen and  (min-width: $screen-sm-min) {
			display: none;
		}
	}
	.navAnsverBlock .carousel-nav {
		@media screen and (min-width: 768px) and (max-width: 991px) {
			display: none;
		}
	}
}
